.skeleton{
    height: 370px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    background: #aca9a9b8;
    border-radius: 16px;
}
.skeleton .details{
    position: absolute;
    bottom: 4%;
    width: 90%;
    left: 5%;
}
.skeleton .details h3,
.skeleton .details ul,
.skeleton .details .reviews{
    margin: 5% 0;
    position: relative
}
.skeleton .details h3{
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 40px;
}

.skeleton .details ul{
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 13px;
}
.skeleton .details .reviews{
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 20px;
}
.loadings{
    position: relative;
    background-color: #f1f1f1 !important;
    overflow: hidden;
}
.loadings::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(90deg, transparent, #aaaaaa36, transparent);
    animation: loading 1.7s infinite linear
}
.translate{
    position: relative !important;
    overflow: hidden;
    background-color: #f1f1f1 !important;

}
.translate::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(90deg, transparent, #fff, transparent);
    animation: translate 1.7s infinite linear
}
.result-skeleton{
    display: grid;
    grid-template-columns: 28% 48% 20%;
    grid-column-gap: 2%;
    width: 100%;
    border: 2px solid #ececec;
    box-shadow: 0px 2px 4px #00000029;
    margin-bottom: 25px;
    background: #fff;
    height: 230px;
}
.result-house{
    background: #f1f1f1;
}
.result-description{
    position: relative;
}
.result-skeleton .result-description h3{
    width: 60%;
    height: 30px;
    background: #f1f1f1;
    margin-top: 25px;
    border-radius: 20px
}
.result-skeleton .result-description h4{
    margin: 10px 0;
    width: 80%;
    height: 20px;
    background: #f1f1f1;
    border-radius: 20px
}
.result-skeleton .result-description p{
    margin: 25px 0 10px 0;
    width: 100%;
    height: 80px;
    background: #f1f1f1;
}
.result-skeleton .result-description ul{
    width: 30%;
    height: 20px;
    background: #f1f1f1; 
    border-radius: 20px
}
.result-skeleton .result-third .result-verified-house{
    width: 80%;
    margin: 0 auto;
    height: 30px;
    background: #f1f1f1; 
    margin-top: 28px;
    border-radius: 20px
}
.result-skeleton .result-third .result-house-price{
    width: 70%;
    margin-left: 10%;
    height: 24px;
    background: #f1f1f1; 
    margin-top: 17px;
    border-radius: 20px
}

/* single page */
/* .single-skeleton .single-info ul li,
.single-details .single-info ul li h4{
    background: #f1f1f1;
} */

.single-skeleton .single-info ul li{
    background: #f1f1f1;
    border-radius:40px;
    height: 20px;
}
.single-skeleton .single-info ul:first-child li:first-child{
    height: 40px;
    width: 100%;
}
.single-skeleton .single-info ul:first-child li:nth-child(2){
    width: 60%;
}
.single-skeleton .single-info ul:first-child li:nth-child(3){
    width: 50%;
}
.single-skeleton .single-info ul:first-child li:nth-child(4){
    width: 80%;
}
.single-skeleton .single-info ul:first-child li:nth-child(5){
    width: 50%;
    height:35px;
}
.single-skeleton .single-info ul:last-child li{
    width: 70%;
    height:25px;
}
.single-skeleton .single-info ul:last-child li:first-child{
    width: 45%;
}
.single-skeleton .single-info ul:last-child li:nth-child(2){
    width: 50%;
}
.single-skeleton .single-info ul:last-child li:nth-child(3){
    width: 40%;
}
.single-skeleton .single-info ul:last-child li:nth-child(5){
    height:35px;
}
.single-skeleton .description .nav ul{
    background:#f1f1f1;
    margin-bottom:5px;
}
.single-skeleton .description .main .main-inner h3{
    height:30px;
    width:40%;
    border-radius:10px;
    background:#fff;
}
.single-skeleton .description .main .main-inner p{
    width:90%;
    height:120px;
    background:var(--white);
    border-radius:10px;
}
.single-skeleton .description .main .main-inner table{
    background:var(--white);
    height:200px
}
.single-skeleton .similiar > p,
.single-skeleton .similiar > h3{
    background:#f1f1f1;
    height:30px;
    width:60%;
    border-radius:30px;
}
.single-skeleton .similiar > h3.title{
    width:45%;
}
.single-skeleton .similiar > p{
    height:20px;
    width:80%
}
.single-skeleton .breadcumb{
    background: #f1f1f1;
    border-radius:20px;
    height:30px
}
.single-skeleton .single-details .featured .side .sicons{
    height: 36px;
    background: #f1f1f1;
    width: 100%;
    border-radius:36px;
}
@media(max-width:767px){
    .skeleton{
        min-width:190px !important;
        height: 271px;
        border-radius: 20px;
    }
    .skeleton .details ul{
        display: none;
    }
    .skeleton .details .reviews{
        margin-top: 28px;
    }
    .result-skeleton{
        grid-template-columns: 41% 40% 15%;
        border: none;
        box-shadow: 0px 5px 15px #00000033;
        border-radius: 25px;
        height: 160px;
    }
    .result-house{
        border-radius: 25px 0 0 25px;
    }
    .result-skeleton .result-description h3{
        width: 90%;
    }
    .result-skeleton .result-description h4{
        margin: 7px 0;
        height: 15px;
    }
    .result-skeleton .result-description p{
        height: 10px;
        margin-top: 28px;
    }
    .result-skeleton .result-description ul{
        width: 80%;
    }
    .result-skeleton .result-third{
        position: relative;
    }
    .result-skeleton .result-third .result-verified-house{
        height: 25px;
        width: 25px;
        margin-left: 0;
    }
    .result-skeleton .result-third .result-house-price{
        position: absolute;
        bottom: 10px;
        right: 22%;
        width: 120%;
    }
    .single-skeleton .single-info ul:last-child li:first-child,
    .single-skeleton .single-info ul:last-child li:nth-child(3){
        width: 100%;
    }
    .single-skeleton .description .main .main-inner h3{
        background:#f1f1f1;
        width:70%;
    }
    .single-skeleton .description .main .main-inner p{
        background:#f1f1f1
    }
    .single-skeleton .description .main .main-inner table{
        background:#f1f1f1
    }
    .single-skeleton .similiar > h3.title::after{
        background:transparent;
    }
}
/* @media(max-width:375px){
    .skeleton{
        height: 200px;
    }
} */
@keyframes loading {
    0% {
        width: 0%;
        }
    40% {
        width: 100%
        }
    50% {
        width: 200%
        }
    60% {
        width: 100%
        }
    100% {
        width: 0%;
    }
  
  }
  @keyframes translate {
    0% {
        width: 0%;
        }
    40% {
        width: 100%
        }
    50% {
        width: 200%
        }
    60% {
        width: 100%
        }
    100% {
        width: 0%;
    }
  
  }
  /* .translate {
    -webkit-animation-name: translate;
    animation-name: translate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  } */