@import "../scss//config";
.ccardLink{
    width: 100%;
    box-sizing: border-box;
    .ccard{
        min-width:362px;
        height: 100%;
        position: relative;
        border-radius: 10px;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: 10px;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            height:100%;
            width:100%;
            border-radius: 10px;
            opacity:0.35;
        }
    }
}

@include mediaSm {
    .ccardLink{
        .ccard{
            min-width: 190px;
        }
    }
}