$color-primary: #2196f3;
$color-secondary: lighten($color-primary, 20%);
$color-booked: '#FF9C07';
$border: solid 1px lighten($color-secondary, 20%);
$skew-amount: -18deg;
$spacing: 10px;

$screen-xs-min: 600px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin border-box() {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin skewX($deg) {
  -ms-transform: skewX($deg);
  -webkit-transform: skewX($deg);
  transform: skewX($deg);
}

@mixin xy-center() {
  // position: absolute;
  // top: 50%;
  // left: 0;
  // right: 0;
  // transform: translateY(-50%);
}

.booking-calendar {
  @include border-box();
  background: #fff;
  display: block;
  // float: left;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;

  .header {
    @include border-box();
    color: #fff;
    // height: 3em;
    width: 100%;
    padding-bottom: 20px;

    .header-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      position: relative;
      .icon-previous,
      .icon-next,
      .month-label {
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.125em;
        font-weight: bold;
        // position: absolute;
        // text-transform: uppercase;
        // top: 50%;
        // transform: translateY(-50%);

        &:disabled {
          color: $color-secondary;
        }
      }

      .icon-previous {
        left: 0;
      }

      .icon-next {
        right: 0;
      }

      .month-label {
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  }

  .week {
    @include border-box();
    // background-color: $color-primary;
    // border-right: $border;
    // border-top: $border;
    // float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // &:last-child {
    //   border-bottom: $border;
    // }

    &.names {
      border-top: none;

      .day-box {
        // &:before {
        //   padding-top: 50%;
        // }

        .day {
          background-color: transparent;
          border: none;
          font-size: 14px;
          color: #AFAFAF;
          margin-bottom:  -26px;
        }
      }
    }

    .day-box {
      @include border-box();
      // float: left;
      position: relative;
      width: 11.28571%;
      margin: 9px 1.5%;
      

      // &:before {
      //   border-right: $border;
      //   content: '';
      //   display: block;
      //   padding-top: 100%;
      // }

      // &:first-child {
      //   .day {
      //     border-left: $border;
      //   }
      // }

      // &:last-child {
      //   .day {
      //     border-right: none;
      //   }
      // }

      .day {
        @include border-box();
        // background: $color-primary;
        // border-right: $border;
        // bottom: 0;
        background-color: #FFFFFF;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        color: #000000 ;
        border: 1px solid #CBCBCB;
        // left: 0;
        // position: absolute;
        // right: 0;
        text-align: center;
        // top: 0;

        &.not-clickable {
          cursor: default;
        }

        &.different-month {
          // color: $color-secondary;
        }

        &.selected {
          // background: #fff;
          // color: $color-primary;

          &:before,
          &:after {
            content: none;
          }
        }

        &.today {
          background-color: #00A8C8;
          color: #fff;
          border: 2px solid #046FA7;
        }

        @mixin booking() {
          overflow: hidden;
          z-index: 1;
        }

        @mixin bookingPseudo($left) {
          // @include skewX($skew-amount);
          background-color: $color-booked !important;
          color: #fff !important;
          // content: '';
          height: 100%;
          // left: $left;
          // position: absolute;
          // top: 0;
          width: 100%;
          // z-index: -1;
        }

        &.booked-day {
          @include booking();
          background: #DCDCDC;
          color: #fff;

          &:before {
            @include bookingPseudo(18%);
          }
        }

        // &.booked-night {
        //   @include booking();

        //   &:after {
        //     @include bookingPseudo(-80%);
        //   }
        // }

        > .day-content {
          padding: 12px 5px;
        }
      }
    }

    &.names > span {
      color: $color-secondary;
      font-weight: bold;
    }
  }
}

.booking-calendar .react-calendar-inner{
  min-width: 400px ;
 min-height: 370px;
 padding: 20px;
 padding-top: 10px;
}
@media (min-width: $screen-xs-min) {
  .booking-calendar {
    font-size: 15px;
  }
}

@media (min-width: $screen-sm-min) {
  .booking-calendar {
    font-size: 17px;
  }
}

@media (min-width: $screen-md-min) {
  .booking-calendar {
    font-size: 20px;
  }
}

@media (min-width: $screen-lg-min) {
  .booking-calendar {
    font-size: 28px;
  }
}
