.property-form{
    width: 56%;
    margin: 0 auto 0 7.2%;
}
.property-group> input[type=text],
textarea{
    display: block;
    width: 92%;
    box-shadow: 0px 1px 2px var(--shadow);
    background: transparent;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 13px 4%;
    outline: 0;
}
input,
.property-form p,
label,
textarea,
select,
.property-group .property-group-inner input::placeholder{
    color: #ACA9A9;
    /* font-family: 'Poppins-Medium'; */
    font-size: 13px;
}
.property-form p,
.property-form label {
    color: var(--text-blue)
}
.property-group > label,
.property-group h3{
    /* font-family: 'Roboto-Bold'; */
    font-size: 18px;
    color: var(--text-blue);
    margin-bottom: 10px;
    display: block;
}
.property-form .col .input,
.property-form .col .discount{
    display: grid;
    grid-template-columns: 85% 15%;
    border: 1px solid #ACA9A9;
    border-radius: 3px;
}
.property-form .property-group-inner input{
    outline: 0;
    border: none;
    background: transparent;
    padding: 5px 7px;
}
.property-form .property-group-inner .col:last-child .input{
    grid-template-columns: 91% 9% !important;
}

.property-form .input span,
.property-form .discount span{
    width: 100%;
    height: 100%;
    background:var(--text-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.property-form .input span .angle,
.property-form .discount span .angle{
    height: 6px;
    width: 6px;
    background: var(--white);
    transform: rotate(45deg) translate(-2px, -2px);
    position: relative;
}
.property-form .input span .angle::before,
.property-form .discount span .angle::before{
    width: 200%;
    height: 100%;
    position: absolute;
    content: '';
    top: -3px;
    left: -60%;
    transform: rotate(-45deg);
    background: var(--text-blue);
}
.property-group > p{
    text-align: right;
    color: #23FFB4;
    margin-top: 8px;
}
.property-group >input[type=text]{
    font-size: 18px;
    /* font-family: 'Poppins-Medium'; */
}
.property-group > input[type=text]::placeholder{
    color: #DBDBDB;
}
.property-group > input:focus,
textarea:focus{
    border-color: #23FFB4;
}
textarea::-webkit-scrollbar{
    width: 1px;
}
.property-form h3{
    margin-top: 20px;
}
.property-group-inner{
    display: grid;
    grid-template-columns: 20% 20% 35% 15%;
    grid-column-gap: 5%;
}
.property-group-inner1{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 5%;
}
.property-group-inner2{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1%;
    margin-top: 15px;
    width: 100%;
}
.property-group-inner2 .col{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10%;
    align-items: center;
    width: 100%;
}
.property-group-inner .col label,
.property-group-inner1 .col label,
.property-group-inner2 .col label{
 cursor: pointer;
 color: var(--text-blue);
}
.checkmark{
    height: 15px;
    width: 15px;
}
/* .checkmark::after{
    border-color: var(--text-blue) !important;
} */

.prop-type .radio .radio-mark{
    border-radius: 50% !important;
    height: 14px !important;
    width: 14px !important
}
.prop-type .radio .radio-mark::after{
    height: 7px !important;
    width: 7px !important
}
.prop-type{
    margin-left: 4px;
}
.prop-type li{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 23px;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px;
}
.prop-type li label:last-child{
    color: var(--text-blue);
    cursor: pointer;
}
.featured-image label:last-child,
.other-images label{
    text-decoration: underline;
    cursor: pointer;
}
.property-form input[type=file]{
    display: none;
}
.featured-image img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px var(--shadow);
    border: 1px solid #EFEFEF;
    margin-top: 6px;
    margin-right: 10px;
    cursor: pointer;
    max-width: 100%;
    vertical-align: middle;
}
.other-images{
    margin: 34px 0;
}
.other-images label{
    position: relative;
}
.other-images label .add-image{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -45px;
    top: -10px;
    border-radius: 50%;
    background: #02D480;
}
.other-images label .add-image::after{
    position: absolute;
    content: '+';
    font-size: 30px;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white);
}

.other-images .images{
    margin-top: 34px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 18% [col-start]);
    grid-column-gap: 2.5%;
}
.other-images .images .loading{
    border-radius: 15px;
    background: #ACA9A9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-images .images > div{
    position: relative;
    height: 95px;
}
.other-images .images > div::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 15px;
    opacity: .045;
    z-index: -1;
}
.other-images .images > div > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 1px 2px var(--shadow);
    max-width: 100%;
    vertical-align: middle;
}
.other-images .images > div > div,
.other-images .images > div > button{
    position: absolute;
    top: 12px;
    right: 9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--white) !important;
    opacity: 0.59;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}
.other-images .images > div > div::after,
.other-images .images > div > button::after{
    position: absolute;
    content: '×';
    font-size: 14px;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--red);

}
.other-images .images > div > div:hover,
.other-images .images > div > button:hover{
    opacity: 0.9;
    background: var(--white) !important;
}
.property-form .property-group button{
    margin: 30px 0;
    background: transparent;
    border: none;
    user-select: none;
    padding: 10px 30px;
    font-size: 13px;
    /* font-family: 'Roboto-Medium'; */
    color: var(--white);
    border-radius: 23px;
    background: var(--text-blue);
    cursor: pointer;
}
.rememberme{
    position: relative;
    display: flex;
    align-items: center;
}
.rememberme input[type=checkbox]{
    display: none;

}
.rememberme .checkmark{
    position: absolute;
    display: block;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 2px 4px var(--shadow);
    border: 1px solid #EFEFEF;}
.rememberme .checkmark::after{
    top: 45%;
    left: 30%;
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
}
/* .rememberme::after{
    background: #0B6EA7 !important;
} */
.rememberme input:checked ~ .checkmark::after{
    border-color: #0B6EA7 !important;
}
/* .rememberme input {
    color:  #0B6EA7 !important;
    opacity: 1 !important;
} */
@media (max-width:767px){
    .property-form{
        width: 88%;
        margin: 0 auto;
    }
    .property-group > label, .property-group h3{
        color: #090202;
        /* font-family: "Poppins-SemiBold" */
    }
    .property-group> input[type=text], textarea{
        border: none;
        border-radius: 40px;
        box-shadow: 0px 3px 6px #0F134842;
        color: #CFCFCF;
        /* font-family: "Poppins-Light"; */
        font-size: 16px;
    }
    textarea{
        border-radius: 15px;
    }
    .property-group-inner{
        grid-template-columns: 30% 30% 30%;
    }
    .property-form .col .input,
    .property-form .col .discount{
        border: none;
        border-radius: 30px;
        box-shadow: 0px 3px 6px #0F134842;
        grid-template-columns: 75% 25%;
    }
    .property-form .input span,
    .property-form .discount span{
        border-radius: 0 30px 30px 0;
        background: #0F4174;
    }
    .property-form .property-group-inner .col:last-child .input{
        grid-template-columns: 75% 25% !important;
    }
    .property-form .input span .angle::before,
    .property-form .discount span .angle::before{
        width: 0;
    }
    .property-form .input span .angle,
    .property-form .discount span .angle{
        background: none;
        border-width: 0 2px 2px 0;
        border-color: var(--white);
        border-style: solid;
    }
    .property-group-inner .col label, .property-group-inner1 .col label, .property-group-inner2 .col label{
        color: #355584;
        /* font-family: "Poppins-Medium" */
    }
    .property-group-inner2{
        grid-auto-flow: row;
        grid-template-columns:  repeat(2, 6fr [col-start]);
        justify-content: start;
    }
    .property-group-inner2 .col{
        grid-template-columns: 10% 90%;
        margin-top: 5px;
    }
    .property-group-inner .col label, .property-group-inner1 .col label, .property-group-inner2 .col label{
        cursor: default;
        justify-self: flex-start;
    }
    .prop-type li label:last-child{
        cursor: default;
        color: #355584;
    }
    .table-head .table-title li:first-child .radio input:checked ~ .radio-mark::after, .inbox-body table tr td:first-child .radio input:checked ~ .radio-mark::after, .property-group .prop-type li .radio input:checked ~ .radio-mark::after{
        background: #355584;
    }
   
    .other-images label .add-image{
        width: 40px;
        height: 40px;
        box-shadow: 0px 5px 12px #090202A6;
    }
    .other-images label .add-image::after{
        font-size: 32px;
    }
}