/* menu section */
.sidebar{
    min-height: 100vh;
}
.sidebar-menu{
    width: 100%;
}
.sidebar-menu .s-menu{
    grid-column-start: 2;
    display: grid;
    width: 100%;
    grid-row-gap: 10px;

}
.sidebar-menu .s-menu li{
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;
    
}
.sidebar-menu .s-menu a li,
.sidebar-menu .s-menu a li span[class*='icon-']::before{
    color: var(--white);
}
.sidebar-menu .s-menu li .i-num{
    position: absolute;
    right: 10%;
    top: 50%;
    height: 16px;
    width: 35px;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    color: var(--white);
    border-radius: 15px;
    background: #AECCFF;
    transform: translateY(-50%);
}

.sidebar-menu .s-menu .is-active{
    background: var(--white) !important;
    position: relative;
}
.sidebar-menu .s-menu .is-active li{
    color:#00A8C8;
    font-weight: 700;

}
.s-menu .switches{
    display: none;
}
.sidebar-menu .s-menu li :first-child{
    margin-right: 6px;
    margin-left: 15px;
}
.sidebar-menu .s-menu .is-active,
.sidebar-menu .s-menu .is-active span[class*='icon-']::before{
    color: var(--text-blue);

}
.sidebar-menu .s-menu .is-active::before{
    position: absolute;
    height: 100%;
    width: 6px;
    left: 0;
    top: 0;
    content: '';
    background-color: #046FA7;
}

@media (max-width:767px){
    .s-menu .switches{
        display: flex;
        background-color: #fff;
        margin: 0 auto;

    }
    .s-menu .switches > :first-child{
        color: #046FA7;
    }
    /* .sidebar-menu{
        display: block;
        margin: 0 auto !important;
    }
    .sidebar-menu .s-menu{
        display: block;
    }
    .sidebar-menu .s-menu li{
        height: 36px;
    } */
}