*{
  padding:0;
  margin:0;
}
:root {
  --bg-blue: #0f478f;
  --white: #ffffff;
  --text-blue: #0e5296;
  --btn-yellow: #ffd70e;
  --shadow: #00000029;
  --dark-border: #707070;
  --dash-border: #FCFCFC;
  --light-border: #cfcfcf;
  --border-hover: #1480ec;
  --red: #c50000;
  --black: #000;
}
.MuiGrid-spacing-xs-2{
  width:100% !important;
  padding:0 !important;
  margin:0 !important
}
.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track{
  padding-bottom: 15px !important;
}
.MuiInput-underline::before{
  border-bottom:none !important
}
.MuiPickersDay-current{
  color: #046FA7 !important;
}
.MuiPickersToolbar-toolbar,
.MuiDialogActions-root,
.MuiPickersDay-daySelected,
.MuiPickersToolbarText-toolbarBtnSelected,
.MuiPickersToolbarText-toolbarTxt{
  background-color: #046FA7 !important;
  color:#fff !important
}
.MuiTab-root span{
  text-transform: capitalize !important;
  color:#00A8C8 !important
}
.Mui-selected{
  border-bottom-color: #046FA7 !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
}
.BrainhubCarousel__dots {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot{
      padding: 0 !important;
      border-radius: 50%;
      margin: 10px;
      opacity:1 !important
}
.BrainhubCarousel__dots .BrainhubCarousel__dot:before{
  background:#fff !important;
  width: 7px !important;
  height: 7px !important;
  border-radius: 7px;
}
.BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected::before{
  background:#00A8C8 !important;
  box-shadow: 0px 3px 6px #00000029;
}
.MuiOutlinedInput-notchedOutline,
.PrivateNotchedOutline-root-29 .MuiOutlinedInput-notchedOutline{
  border:none !important
}
.MuiFormLabel-root.Mui-focused,
.MuiFormLabel-root{
  color:#00A8C8 !important;

}
.single .MuiInputLabel-outlined.MuiInputLabel-shrink{
  transform: translate(14px, 8px) scale(0.75) !important;
  white-space: nowrap;
}
.home .MuiInputLabel-animated.MuiInputLabel-shrink{
  white-space: nowrap !important;
}
.single #check-in,
.single #check-out{
  font-size: 13px;
  padding-top: 25px;
}
.single.MuiFormControl-root{
  margin-left: 10px !important;
}
.single label + .MuiInput-formControl {
  margin-top: -6px !important;
}
a{
  text-decoration: none;
}
.mobile-menu{
  display: none !important;
}
.a{fill:#fbbb00;}.b{fill:#518ef8;}.c{fill:#28b446;}.d{fill:#f14336;}
svg{
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  justify-self: center;
}
@media(max-width:767px){
  #end,#begin{
    font-size: 12px;
  }
  label[for=begin],label[for=end]{
    margin-right: 5px !important;
  }
  .header{
    display: none !important;
  }
  .mobile-menu{
    display: block !important;
  }
}