@import 'config';

.calendar__heading{
    color: $primary-color;
    margin-top: 120px;
}

.calendar__details{
    display: flex;
    align-items: center;
    .title{
        color: #707070;
        font-size: 0.9rem;
    }

    .select__property{
        margin-right: 10rem;
        #property{
            width: 15rem;
        }
        label{
            display: block;
            // font-size: 1.2rem;
            // color: #707070;
            padding: 0.8rem 0;
        }
        .input{
            border: 1px solid #DCDCDC;
            color: #A1A1A1;
            font-size: 0.8rem;
        }
        .input select{
            padding: 0rem 2rem 0rem 0.8rem;
            color: #707070;
            font-size: 0.9rem;
        }
        .input .MuiNativeSelect-icon{
            color: #00A8C8 !important;
            margin-right: 0.4rem;
            font-size: 1.3rem;
        }

    }

    
    .availability{
        margin-top: 2.5rem;
        width: 15rem;
        height: 20rem;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        background: #ffffff;
        color: #707070;
        padding-left: 0.8rem;

        h4{
            padding: 0.4rem 0;
        }

        .availability__switch{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.1rem;
        }

        .amount{
            background: #ffffff;
            display: inline-block;
            padding: 0.1rem 0.9rem;
            border: 1px solid #DCDCDC;
            margin-right: 0.2rem;
        }

        .button__book{
            background: $primary-color;
            border-radius: 36px;
            color: #fff;
            width: 90%;
            margin-top: 1.8rem;
        }
    }
}

@import 'mobileDashboardCalendar';